$blue: #001fff;
$teal: #2de5ea;
$green: #86e028;
$yellow: #ffce00;
$orange: #ff7900;
$red: #f72d2d;
$pink: #ff107d;
$purple: #a100ff;
$default : #30323d;
$primary : $purple;
$secondary: #fff;
$body-bg: #fff;
