.snippet {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	min-width: 460px;

	&.rounded {
		border-radius: .25rem;
	}

	.snippet-text {
		display: flex;
		align-items: center;
		padding: .65rem .75rem;
		margin-bottom: 0;
		font-weight: 400;
		line-height: 1.5;
		text-align: center;
		white-space: nowrap;
	}

	.snippet-prepend, .snippet-append {
		display: flex;
		color: $green;
	}

	.snippet-prepend {
		margin-right: -1px;
	}

	.snippet-append {
		margin-left: -1px;
	}

	.snippet-body {
		position: relative;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
		display: flex;
		padding: .375rem 0;
		line-height: 1.5;
		background: transparent;
		border: none;
		align-items: center;
		font-size: inherit
	}

	&.snippet-light {
		background: white;
		.snippet-body {
			color: $snippet-light-color;
		}
	}

	&.snippet-dark {
		background: black;

		.snippet-body {
			color: $snippet-dark-color;	
		}
	}

	&.snippet-transparent {
		background: transparent;
	}

	&.snippet-center {
		justify-content: center;
		align-items: center;

		.snippet-body {
			flex: unset;
			width: unset;
		}
	}

	&.snippet-sm {
		font-size: $snippet-font-size-sm;
	}
	
	&.snippet-default {
		font-size: $snippet-font-size;
	}

	&.snippet-lg {
		font-size: $snippet-font-size-lg;
	}

	.copy-btn-container {
		position: absolute;
		margin-top: 50%;
		bottom: -15px;
		right: 10%;
	}
}